@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

.animal-cards {
  position: relative;
}

.animal-cards__layout {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  justify-content: center;
  justify-items: center;
  padding-bottom: 234px;
}

.animal-cards__slide {
  position: relative;
  left: 0;
  width: 100%;
  animation: 1s ease-in-out;

  display: grid;
  grid-template-columns: repeat(3, 366px);
  align-content: center;
  justify-content: center;
  gap: 20px 30px;
}

.animal-cards__slide.prev {
  left: 0;
}

.animal-cards__slide.next {
  left: 0;
}

.animal-cards__button-left-arrow,
.animal-cards__button-right-arrow {
  z-index: 2;
}

.animal-cards__button-left-arrow {
  position: absolute;
  top: 403px;
  left: 138px;
}

.animal-cards__button-right-arrow {
  position: absolute;
  top: 403px;
  right: 140px;
}

.animal-cards__button {
  position: absolute;
  bottom: 100px;
  right: 50%;
  transform: translateX(50%)
}

.animal-cards__img-left {
  position: absolute;
  left: -588px;
  bottom: 0;
}

.animal-cards__img-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.to-left {
  animation-name: left;
}

.from-left {
  animation-name: right;
}

.to-right {
  animation-name: right;
}

.from-right {
  animation-name: left;
}


@media (max-width: $desktop) {
  .animal-cards {
    padding-bottom: 214px;
    position: relative;
  }

  .animal-cards__slide {
    position: relative;
    grid-template-columns: repeat(3, 294px);
    gap: 93px 30px;
  }

  .animal-cards__button-left-arrow {
    position: absolute;
    top: 369px;
    left: 35%;
  }

  .animal-cards__button-right-arrow {
    position: absolute;
    top: 369px;
    right: 35%;
  }

  .animal-cards__img-left {
    position: absolute;
    left: -192px;
    bottom: 0;
    height: 202px;
  }

  .animal-cards__img-right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 180px;
  }
}

@media (max-width: $small-desktop) {
  .animal-cards {
    position: relative;
    overflow: hidden;
  }

  .animal-cards__slide {
    grid-template-columns: repeat(2, 294px);
    gap: 90px 30px;
  }

  .animal-cards__button-left-arrow {
    position: absolute;
    top: 340px;
    left: 38%;
  }

  .animal-cards__button-right-arrow {
    position: absolute;
    top: 340px;
    right: 38%;
  }

  .animal-cards__img-left {
    position: absolute;
    left: -252px;
    bottom: 0;
    height: 202px;
  }

  .animal-cards__img-right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 130px;
  }
}

@media (max-width: $tablet) {
  .animal-cards {
    padding-bottom: 134px;
    position: relative;
    overflow: hidden;
  }

  .animal-cards__layout {
    gap: 20px;
  }

  .animal-cards__slide {
    grid-template-columns: 294px;
    gap: 20px;
    padding: 0 25px 0 10px;
  }

  .animal-cards__button-left-arrow {
    display: none;
  }

  .animal-cards__button-right-arrow {
    display: none;
  }

  .animal-cards__img-left {
    position: absolute;
    left: -80px;
    bottom: 0;
    height: 72px;
  }

  .animal-cards__img-right {
    position: absolute;
    right: -20px;
    bottom: -5px;
    height: 71px;
  }

  .animal-cards__button {
    bottom: 60px;
  }
}

@media (max-width: $tablet-change-breakpoint) {}