$popup-border: 2px;

.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.popup_active {
  transform: scale(1, 1);
  // transition: 0.5s ease-in;
}

.popup__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba($color: #ffffff, $alpha: 0.4);
}

.popup__body {
  position: relative;
  width: 267px;
  height: 391px;
  padding: 12px 15px 15px;
  background: #F1F3F2;

  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
  border: solid $popup-border transparent;
  border-radius: 20px;
  background-clip: padding-box;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -$popup-border;
    border-radius: inherit;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  }
}

.popup__close-icon {
  position: absolute;
  top: -7px;
  right: -26px;
  width: 14px;
  height: 14px;
}

.popup__head {
  display: grid;
  grid-template-areas: 'a b''a c';
  column-gap: 10px;
  align-items: start;
  align-content: start;
  justify-content: start;
}

.popup__photo {
  grid-area: a;
  justify-self: self-start;
}

.popup__title {
  grid-area: b;
  font: normal 400 16px/120% 'Roboto';
}

.popup__location {
  grid-area: c;
  font: normal 300 15px/120% 'Roboto';
  color: #BDBDBD;
  display: flex;
  gap: 7px;
}

.popup__description {
  font: normal 300 15px/120% 'Roboto';
  color: #767474;
  overflow: scroll;
}

.popup__description::-webkit-scrollbar {
  display: none;
}

.popups__bg-photo {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(30.2deg);
}