.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger__line {
  height: 4px;
  width: 36px;
  background-color: white;
  border-radius: 4px;
}

@media (max-width: $header-change-breakpoint) {
  .hamburger {
    display: flex;
    justify-self: end;
  }
}

@media (max-width: ($tablet + 2px)) {
  .hamburger {
    gap: 2
  }

  .hamburger__line {
    height: 2px;
    width: 18px;
    border-radius: 2px;
  }
}