.header {
  background-color: $header-bg-color;
  position: relative;
  z-index: 2;
}

.header__layout {
  height: 80px;
  padding: 0 220px;
  display: grid;
  grid-template-columns: 83px repeat(2, 1fr);
  align-items: center;
  align-content: center;
  gap: 63px;
}

.header__navigation {
  justify-self: start;
}

.header__designed {
  justify-self: end;
}

@media (max-width: $desktop) {
  .header__layout {
    padding: 0 30px;
  }
}

@media (max-width: $small-desktop) {
  .header__layout {
    padding: 0 20px;
  }
}

@media (max-width: $header-change-breakpoint) {
  .header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
  }

  .header__layout {
    height: 34px;
  }

  .header__layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .header__designed {
    display: none;
  }

  .header__layout_hamburger-active {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $tablet) {}

@media (max-width: $tablet-change-breakpoint) {
  .header__layout {
    padding: 0 10px;
  }
}