.logo {
  position: relative;
  width: 82px;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
  }
}

.logo__title {
  position: absolute;
  left: 4.75px;
  top: 3.55px;

  font: normal 400 19px/120% "Roboto";
  color: $text-color-light;
  text-align: center;
  z-index: 1;
}

.logo__icon {
  position: absolute;
  z-index: 2;
  left: 10.5px;
  top: 23px;
}

@media (max-width: $small-desktop) {
  .logo {
    border: 0;
    width: 47px;
    height: 29px;
  }

  .logo__title {
    position: static;
    font: normal 400 12px/120% 'Roboto';
  }

  .logo__icon {
    left: 5.5px;
    top: 14px;
    width: 6.78px;
    height: 11.74px;
  }
}

@media (max-width: $tablet) {}

@media (max-width: $tablet-change-breakpoint) {}