$progress-bar-border: 1px;

.testimonials {
  padding: 140px 0 180px;
  position: relative;
  overflow: hidden;
  background-image: url('../../assets/images/leav-foto.png');
  background-repeat: no-repeat;
  background-position: right -163px bottom -132px;
}

.testimonials__layout {
  padding: 0 220px;
}

.testimonials__title {
  font: normal 400 36px/140% 'Roboto';
  color: #333B41;
  margin-bottom: 45px;
}

.testimonials__container {
  position: relative;
  height: 391px;
  width: 1162px;
  overflow: hidden;
  margin-bottom: 21px;
}

.testimonials__slide-container {
  position: absolute;
  left: 0;
  gap: 30px;
  transition: 0.3s ease-in;
}

.testimonials__scrollbar[type="range"] {
  -moz-appearance: none !important;
  appearance: none !important;
  width: 599px;
  height: 8px;
  background: #F5F7F6;
  border: solid $progress-bar-border transparent;
  border-radius: 5px;
  background-clip: padding-box;

  padding: 1px;
  margin-bottom: 31px;
  transition: 1s ease-in-out;

  position: relative;

  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -$progress-bar-border;
    border-radius: inherit;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  }
}

.testimonials__scrollbar[type="range"]::-webkit-slider-thumb {
  -moz-appearance: none !important;
  appearance: none !important;
  width: 50%;
  height: 6px;
  background-color: #FE9013;
  border-radius: 5px;

  &:hover {
    background-color: #E47209;
  }
}

.testimonials__scrollbar[type="range"]::-moz-range-thumb {
  -moz-appearance: none !important;
  appearance: none !important;
  width: 50%;
  height: 6px;
  background-color: #FE9013;
  border-radius: 5px;

  &:hover {
    background-color: #E47209;
  }
}

.testimonials__progress-bar {
  height: 100%;
  width: 19%;
  border-radius: inherit;
  background-color: #FE9013;

  &:hover {
    filter: invert(52%) sepia(63%) saturate(5770%) hue-rotate(62deg) brightness(97%) contrast(101%);
  }
}

.testimonials__button {
  align-self: flex-start;
}

@media (max-width: $desktop) {
  .testimonials {
    padding: 100px 0 140px;
    background-size: 328px;
    background-position: right -130px bottom -88px;
  }

  .testimonials__layout {
    padding: 0 30px;
  }

  .testimonials__title {
    margin-bottom: 25px;
  }

  .testimonials__container {
    width: 940px;
  }

  .testimonials__slide-container {
    overflow: scroll;
    justify-content: flex-start;
  }

  .testimonials__slide-container::-webkit-scrollbar {
    display: none;
  }

  .testimonials__scrollbar[type="range"] {
    width: 380px;
    margin-bottom: 52px;
  }
}

@media (max-width: $small-desktop) {
  .testimonials {
    padding: 60px 0 80px;
    background-size: 200px;
    background-position: right -85px bottom -66px;
  }

  .testimonials__layout {
    padding: 0 20px;
  }

  .testimonials__title {
    font: normal 400 36px/130% 'Roboto';
    margin-bottom: 30px;
  }

  .testimonials__container {
    position: static;
    margin-bottom: 37px;
    width: 100%;
  }

  .testimonials__slide-container {
    position: static;
    width: 100%;
    height: 360px;

    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 15px;
    overflow: scroll;
  }

  .testimonials__scrollbar[type="range"] {
    display: none;
  }

  .testimonials__button {
    width: 240px;
    align-self: center;
  }
}

@media (max-width: $tablet) {
  .testimonials {
    padding: 30px 0 60px;
    background-image: url('../../assets/images/leav-foto-small.png');
    background-size: 94px;
    background-position: right -45px bottom -30px;
  }

  .testimonials__layout {
    padding: 0 10px;
  }

  .testimonials__title {
    font: normal 400 24px/120% 'Roboto';
    margin-bottom: 20px;
  }

  .testimonials__slide-container {
    // width: 100%;
    // height: 360px;
    margin-bottom: 28px;
  }
}

@media (max-width: $tablet-change-breakpoint) {}