$text-color-light: #ffffff;
$text-color-colored: #FE9013;
$gradient-color-one: #F9804B;
$gradient-color-two: #FE9013;
$gradient: linear-gradient(113.96deg, $gradient-color-one 1.49%, $gradient-color-two 101.44%);
$link-color: #ffffff;
$link-hover: #FE9013;
$link-active: #4B9200;
$slide-menu-link: #333B41;
$header-bg-color: #000000;
$logo-color-default: #ffffff;
$logo-color-colored: #FE9013;
$pick-feed-friend-text-color: #333b41;
$input-border-color: #F9804B;

$desktop: 1599px;
$small-desktop: 999px;
$header-change-breakpoint: 700px;
$tablet: 639px;
$tablet-change-breakpoint: 564px;
$mobile: 320px;