.button {
  font: normal 500 16px/140% "Roboto";
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: 0;
  border-radius: 5px;
  color: #ffffff;

  width: 298px;
  height: 54px;
}

.button:hover {
  background: #E47209;
}

.button:active {
  background: #4B9200;
}

.button:disabled {
  background: #767474;
}

.button_border-rounded {
  border-radius: 25px;
}

.button__circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}