.peek-feed-friend {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.peek-feed-friend__layout {
  opacity: 0.9;
  padding: 69px 220px 100px;
}

.peek-feed-friend__container {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px;

  display: flex;
  flex-direction: column;
  gap: 11px;
}

.peek-feed-friend__title-first {
  font: normal 400 48px/120% 'Roboto';
  color: $text-color-colored;
  padding-bottom: 20px;
}

.peek-feed-friend__title-second {
  font: normal 400 24px/120% 'Roboto';
  color: $pick-feed-friend-text-color;
  align-self: start;
  padding-left: 99px;
  padding-bottom: 30px;

}

.peek-feed-friend__title-third {
  font: normal 400 36px/130% 'Roboto';
  color: $pick-feed-friend-text-color;
  margin-bottom: 26px;
}

.peek-feed-friend__description {
  font: normal 400 16px/130% 'Roboto';
  color: $pick-feed-friend-text-color;
  align-self: flex-start;
  padding-left: 99px;
  padding-right: 199px;
  margin-bottom: 50px;
}

.peek-feed-friend__description_bolded {
  font: normal 500 16px/130% 'Roboto';
  padding-right: 0;
  margin-bottom: 0;
}

.peek-feed-friend__steps {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px;
  margin-bottom: 50px;
}

.peek-feed-friend__steps-arrow-container {
  position: relative;
  width: 69px;
  height: 96px;

}

.peek-feed-friend__steps-arrow {
  position: absolute;
  bottom: 0;
}

.peek-feed-friend__button {
  justify-self: center;
}

.peek-feed-friend__link {
  color: #333B41;
}

@media (max-width: $desktop) {
  .peek-feed-friend__layout {
    padding: 30px 30px 50px;
  }

  .peek-feed-friend__container {
    padding: 30px 0 50px;
    gap: 10px;
  }

  .peek-feed-friend__title-first {
    font: normal 400 48px/120% 'Roboto';
    padding-bottom: 10px;
  }

  .peek-feed-friend__title-second {
    font: normal 400 24px/120% 'Roboto';
    padding-left: 49px;
    padding-bottom: 10px;

  }

  .peek-feed-friend__title-third {
    font: normal 400 36px/130% 'Roboto';
    margin-bottom: 30px;
  }

  .peek-feed-friend__description {
    font: normal 400 16px/130% 'Roboto';
    padding-left: 49px;
    padding-right: 90px;
    margin-bottom: 34px;
  }

  .peek-feed-friend__description_bolded {
    font: normal 500 16px/130% 'Roboto';
    padding-right: 90;
    margin-bottom: 0;
  }

  .peek-feed-friend__button {
    margin-top: 10px;
  }
}

@media (max-width: $small-desktop) {
  .peek-feed-friend__layout {
    padding: 20px 0;
  }

  .peek-feed-friend__container {
    padding: 10px 20px 60px 20px;
    gap: 10px;
  }

  .peek-feed-friend__title-first {
    font: normal 400 42px/120% 'Roboto';
    padding-bottom: 10px;
  }

  .peek-feed-friend__title-second {
    font: normal 400 22px/120% 'Roboto';
    padding-left: 0;
    padding-bottom: 10px;

  }

  .peek-feed-friend__title-third {
    font: normal 400 36px/130% 'Roboto';
    margin-bottom: 10px;
  }

  .peek-feed-friend__description {
    font: normal 400 16px/130% 'Roboto';
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 21px;
  }

  .peek-feed-friend__description_bolded {
    font: normal 500 16px/130% 'Roboto';
    padding-right: 0;
    margin-bottom: 0;
  }

  .peek-feed-friend__steps {
    gap: 0;
    margin-bottom: 20px;
  }

  .peek-feed-friend__steps-arrow-container {
    position: relative;
    width: 42px;
    height: 96px;

  }

  .peek-feed-friend__steps-arrow {
    position: absolute;
    top: -34px;
    left: -16px;
    transform: rotate(231.38deg);
  }

  .peek-feed-friend__button {
    margin-top: 10px;
  }
}

@media (max-width: ($tablet + 2px)) {
  .peek-feed-friend__steps {
    align-self: flex-start;
  }
}

@media (max-width: $tablet) {
  .peek-feed-friend__layout {
    padding: 20px 10px 18px;
  }

  .peek-feed-friend__container {
    padding: 22px 0 40px;
    // gap: 10px;
  }

  .peek-feed-friend__title-first {
    font: normal 400 24px/120% 'Roboto';
    padding-bottom: 0;
  }

  .peek-feed-friend__title-second {
    font: normal 400 18px/120% 'Roboto';
    text-align: center;
    // padding-left: 0;
    // padding-bottom: 10px;

  }

  .peek-feed-friend__title-third {
    font: normal 400 24px/120% 'Roboto';
    // margin-bottom: 10px;
  }

  .peek-feed-friend__description {
    display: none;
    // font: normal 400 16px/130% 'Roboto';
    // padding-left: 0;
    // padding-right: 0;
    // margin-bottom: 21px;
  }

  .peek-feed-friend__description_bolded {
    // font: normal 500 16px/130% 'Roboto';
    // padding-right: 0;
    // margin-bottom: 0;
  }

  .peek-feed-friend__steps {
    align-self: center;
    flex-direction: column;
    // gap: 0;
    // margin-bottom: 20px;
  }

  .peek-feed-friend__step:first-child {
    margin-bottom: 14px;
  }

  .peek-feed-friend__steps-arrow-container {
    // position: relative;
    // width: 42px;
    height: 28px;

  }

  .peek-feed-friend__steps-arrow {
    // position: absolute;
    top: -42px;
    left: 148px;
    transform: rotate(314.38deg);
  }

  .peek-feed-friend__button {
    // margin-top: 10px;
  }
}

@media (max-width: $tablet-change-breakpoint) {}