$progress-bar-border: 0.5px;

.testimonials {
  padding: 140px 0 180px;
  position: relative;
  overflow: hidden;
  background-image: url('../../assets/images/leav-foto.png');
  background-repeat: no-repeat;
  background-position: right -163px bottom -132px;
}

.testimonials__layout {
  padding: 0 220px;
}

.testimonials__title {
  font: normal 400 36px/140% 'Roboto';
  color: #333B41;
  margin-bottom: 45px;
}

.testimonials__container {
  gap: 30px;
  margin-bottom: 21px;
}

.testimonials__progress-bar-container {
  width: 599px;
  height: 8px;
  padding: 1px;
  margin-bottom: 31px;

  position: relative;
  border: solid $progress-bar-border transparent;
  border-radius: 5px;
  background: #F5F7F6;
  background-clip: padding-box;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -$progress-bar-border;
    border-radius: inherit;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  }
}

.testimonials__progress-bar {
  height: 100%;
  width: 19%;
  border-radius: inherit;
  background-color: #FE9013;
}

.testimonials__button {
  align-self: flex-start;
}